#remember {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #000;
    cursor: pointer;
}

#remember:checked {
    background-color: #fff;
}

#remember:checked::before {
    content: '\2713'; /* Unicode checkmark character */
    display: block;
    text-align: center;
    line-height: 1.5em;
    color: #000;
}

html {
    overflow: scroll;
}

body {
    background-color: black;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;
    display: none; /* make scrollbar dissapear */
}

.content-container {
    margin-top: 60px;
}

.avatar {
    margin-right: auto;
    margin-left: auto;
    max-width: 44rem;
    justify-content: space-between;
}

.profile-details {
    margin-right: auto;
    margin-left: auto;
    max-width: 47rem;
    justify-content: start;
}

.bio {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    justify-content: start;
}

.white-border-btn {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 999px;
    padding: 10px 20px;
    margin-top: 10px;
}

.create-entry-btn {
    background-color: rgb(85, 1, 181);
    color: #ffffff;
    border: 2px solid rgb(85, 1, 181);
    border-radius: 999px;
    padding: 4px 8px;
    margin-top: 0.25rem;
}

.create-entry-btn:hover {
    background-color: rgb(59, 3, 170);
    border: 2px solid rgb(59, 3, 170);
}

.white-border-btn:hover {
    background-color: grey;
}

.white-border-btn:active {
    background-color: aliceblue;
}

.icons .icon-link:hover{
    color:rgb(0, 110, 255);
}

.file-icon {
    cursor: pointer;
}

.toggle-checkbox:checked {
    transform: translateX(1rem);
}

.banner {
    width: 736px;
    height: 236px;
    max-width: 736px;
    max-height: 236px;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: white;
}

.toggle-checkbox:checked {
    background-color: black;
}

.entry {
    margin-left: auto;
    margin-right: auto;
    max-width: 52rem;
}

.entry .entry-text {
    max-width: 42rem;
    margin: auto;
    /* display: flex; Descomentar quando quiser q o text comece à esquerda */
}

.entry-inputs #file-input {
    display: none;
}