#remember {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #000;
    cursor: pointer;
}

#remember:checked {
    background-color: #fff;
}

#remember:checked::before {
    content: '\2713'; /* Unicode checkmark character */
    display: block;
    text-align: center;
    line-height: 1.5em;
    color: #000;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    display: none; /* make scrollbar dissapear */
}

.content-container {
    margin-top: 60px;
}