#remember {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #fff;
    cursor: pointer;
    vertical-align: middle;
}

#remember:checked {
    background-color: #fff;
}

#remember:checked::before {
    content: '\2713'; /* Unicode checkmark character */
    display: block;
    text-align: center;
    color: #000;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.about-me {
    position: relative;
    background-color: #000000;
}

.about-me::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/navi_blue_powerlines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

.contacts {
    background-color: #000000;
    position: relative;
}

.contacts::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/lain_wpp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

::-webkit-scrollbar {
    width: 0px;
    display: none; /* make scrollbar dissapear */
}

.content-container {
    margin-top: 60px;
}

.avatar {
    margin-right: auto;
    margin-left: auto;
    max-width: 44rem;
    justify-content: space-between;
}

.profile-details {
    margin-right: auto;
    margin-left: auto;
    max-width: 47rem;
    justify-content: start;
}

.bio {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    justify-content: start;
}

.white-border-btn {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 999px;
    padding: 10px 20px;
    margin-top: 10px;
}

.follow-button {
    background-color: rgb(125, 1, 220);;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 999px;
    padding: 10px 20px;
    margin-top: 10px;
}

.follow-button:hover {
    background-color: rgb(59, 3, 170);
}

.unfollow-button {
    background-color: black;
    color: rgb(125, 1, 220);
    border: 2px solid #ffffff;
    border-radius: 999px;
    padding: 10px 20px;
    margin-top: 10px;
}

.unfollow-button:hover {
    background-color: gray;
}

.create-entry-btn {
    background-color: rgb(85, 1, 181);
    color: #ffffff;
    border: 2px solid rgb(85, 1, 181);
    border-radius: 999px;
    padding: 4px 8px;
    margin-top: 0.25rem;
}

.create-entry-btn:hover {
    background-color: rgb(59, 3, 170);
    border: 2px solid rgb(59, 3, 170);
}

.white-border-btn:hover {
    background-color: grey;
}

.white-border-btn:active {
    background-color: aliceblue;
}

.icons .icon-link:hover{
    color:rgb(0, 110, 255);
    cursor: pointer;
}

.icons .flag-icon:hover{
    color:rgb(255, 0, 0);
    cursor: pointer;
}

.file-icon {
    cursor: pointer;
}

.toggle-checkbox:checked {
    transform: translateX(1rem);
}

.banner {
    width: 736px;
    height: 236px;
    max-width: 736px;
    max-height: 236px;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: white;
}

.toggle-checkbox:checked {
    background-color: black;
}

.entry {
    margin-left: auto;
    margin-right: auto;
    max-width: 52rem;
}

.entry .entry-text {
    max-width: 42rem;
    margin: auto;
    /* display: flex; Descomentar quando quiser q o text comece à esquerda */
}

.entry-inputs #file-input {
    display: none;
}